<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kezdőlap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>Kifizetés</h1>
        <form action="/payment" method="post">
            <div class="form-group">
                <label for="name">Név <small>(Pl. Kovács János)</small></label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Kérlek add meg a neved" required 
                    pattern="^(?=.*\S).+$" 
                    title="A névnek minimum egy, nem szóköz jellegű karaktert kell tartalmaznia." />
            </div>
            <div class="form-group">
                <label for="accountNumber">Bankszámlaszám <small>(Pl. 12345678-12345678 vagy 12345678-12345678-12345678)</small></label>
                <input type="text" id="accountNumber" name="accountNumber" class="form-control" placeholder="Kérlek add meg a bankszámlaszámod" required 
                    pattern="^\d{8}-\d{8}(-\d{8})?$" 
                    title="A bankszámlaszám formátuma: 12345678-12345678 vagy 12345678-12345678-12345678" />
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms" name="terms" required />
                <label class="form-check-label" for="terms">Elfogadom a <a href="#">felhasználási feltételeket</a></label>
            </div>
            <button type="submit" class="btn btn-primary">Kifizetés</button>
        </form>
    </div>
</body>
</html>
