<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kifizetés Sikeres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <h1>Kifizetés Sikeres</h1>
        <p>Név: <%= name || 'Név nem elérhető' %></p>
        <p>Bankszámlaszám: <%= accountNumber || 'Bankszámlaszám nem elérhető' %></p>
        <p>Elfogadtad a felhasználási feltételeket.</p>
    </div>
</body>
</html>
